:root {
    --orxe-btn-margin :5px ;
    --orxe-btn-min-height :1rem ;
    --orxe-btn-font-size-small :  0.8em;
    --orxe-btn-font-size-medium: 1em;
    --orxe-btn-font-size-large: 1.25em; ;
    --orxe-btn-spacing-small: 0.5em;
    --orxe-btn-spacing-medium: 0.5em;
    --orxe-btn-spacing-large:  0.5em ;
    --orxe-btn-icon-height:  1.5em ;
    --orxe-btn-icon-width:  1.5em ;
    --orxe-btn-icon-margin:  0 0.5em ;
}
$btn-font-size-small : var(--orxe-btn-font-size-small);
$btn-spacing-small : var(--orxe-btn-spacing-small);
$btn-font-size-mediuml : var(--orxe-btn-font-size-medium);
$btn-font-spacing-medium : var(--orxe-btn-spacing-medium);
$btn-font-size-large : var(--orxe-btn-font-size-large);
$btn-font-spacing-large : var(--orxe-btn-spacing-large);
$btn-icon-height : var(--orxe-btn-icon-height);
$btn-icon-width : var(--orxe-btn-icon-width);
$btn-icon-margin :var(--orxe-btn-icon-margin) ;
$btn-margin :var(--orxe-btn-margin) ;
$btn-min-height :var(--orxe-btn-min-height) ;

  