@import "./base.scss";
.orxe-button{
    margin: 5px;
    min-height: 1rem;
}


.c-btn--small {
    font-size : var(--orxe-btn-font-size-small);
    padding: var(--orxe-btn-spacing-small);
  }
  
  .c-btn--medium {
    font-size : var(--orxe-btn-font-size-medium);
    padding: var(--orxe-btn-spacing-small);
  }
  
  .c-btn--large {
    font-size : var(--orxe-btn-font-size-large);
    padding: var(--orxe-btn-spacing-small);
  }

  .icon{
      height: $btn-icon-height;
      width: $btn-icon-width;
      margin: $btn-icon-margin;
  }
  